   * {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
       font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial,
           sans-serif;
   }

   .container-1 {
       height: auto;
       width: 30%;
       margin: auto;
       box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
           rgba(0, 0, 0, 0.23) 0px 3px 6px;
       margin-top: 60px;
       display: flex;
       justify-content: center;
       align-items: center;
   }

   .form {
       max-width: 430px;
       width: 100%;
       border-radius: 6px;
       background-color: white;
       padding: 30px;
   }

   header {
       font-size: 28px;
       font-weight: 400;
   }

   form {
       margin-top: 30px;
   }

   form .field {
       height: 40px;
       width: 100%;
       margin-top: 20px;
   }

   .field input,
   .field button {
       height: 100%;
       width: 100%;
       border: none;
   }

   .field input {
       padding: 0 15px;
       border: 1px solid black;
       font-size: 14px;
       font-weight: 400;
       border-radius: 5px;
   }

   .form-link {
       margin-top: 10px;
   }

   .form-link a {
       text-decoration: none;
       font-size: 14px;
   }

   .field button {
       background-color: #028858;
   }

   .remember-me {
       margin-top: 15px;
       font-size: 14px;
       font-weight: 400;
       font-style: normal;
       line-height: 24px;
   }

   .line {
       width: 100%;
       height: 1px;
       position: relative;
       background-color: #d4d4d4;
       margin: 15px 0px;
   }

   .line-1 {
       width: 100%;
       height: 1px;
       position: relative;
       background-color: #d4d4d4;
       margin: 15px 0px;
   }

   .line-2 {
       width: 100%;
       height: 1px;
       position: relative;
       background-color: #d4d4d4;
       margin: 15px 0px;
   }

   .line::before {
       content: "Or";
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       background-color: white;
       padding: 0 10px;
       color: #232836;
   }

   .media-option {
       background-color: black;
       border-radius: 5px;
   }

   .media-option a {
       color: white;
       display: flex;
       align-items: center;
       justify-content: center;
       text-decoration: none;
   }

   .facebook {
       background-color: rgb(69, 92, 169) !important;
   }

   .term-condition {
       margin-top: 15px;
   }

   .term-condition p {
       font-size: 14px;
       font-weight: 400;
       color: #656969;
   }

   .term-condition a {
       text-decoration: none;
       font-size: 14px;
       font-weight: 600;
   }

   .sign-in-option {
       width: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
   }

   .pop2 {
       width: 90%;
       margin-bottom: -6%;
       text-align: left;
       font-size: 14px;
       color: rgb(206, 13, 13);
   }

   .pop1 {
       width: 100%;
       text-align: center;
       font-size: 14px;
       color: rgb(157, 157, 0);
       margin-top: 3%;
       margin-left: 13%;
       margin-right: 5%;
       background-color: rgb(228, 228, 138);
       border: 1px solid rgb(213, 213, 16);
       border-radius: 4px;
       padding: 1%;
       width: 70%;
   }