.first {
    display: flex;
    margin-left: 25px;
}

#nav {
    display: flex;
}

.second {
    margin: auto;
}

.second>h2 {
    color: rgb(9, 175, 9);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
}

.third {
    display: flex;
    margin-right: 25px;
}

.third>h3 {
    margin-right: 15px;
}

.first>h3 {
    margin-right: 15px;
}

#nav2 {
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-evenly;
}

h1,
h3 {
    text-align: center;
}

#projects {
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 150px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.funded>h1 {
    color: green;
}

.work>h1 {
    color: green;
}

.pledges>h1 {
    color: green;
}

#featured>h3 {
    text-align: left;
    margin-left: 80px;
}

#featured>h1 {
    text-align: left;
    margin-left: 80px;
}

#featured>h2 {
    text-align: left;
    margin-left: 80px;
    font-weight: lighter;
}

#featured>p {
    text-align: left;
    margin-left: 80px;
}

#featured>img {
    width: 80%;
    height: 450px;
    margin-left: 80px;
}

#feature_recommend {
    display: flex;
}

#recommended {
    width: 45%;
}

#R1>img {
    width: 20%;
    height: 20%;
}

#R1 {
    display: flex;
}

#details>h3 {
    text-align: left;
}

#details>img {
    width: 90px;
}

#details {
    margin-left: 25px;
    line-height: 10px;
}

#quest {
    display: flex;
}

#quest>img {
    width: 45%;
    height: 300px;
    margin-left: 50px;
}

#quest>div {
    width: 45%;
    margin-left: 50px;
}

#quest>div>h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
}

#quest>div>h2 {
    font-weight: lighter;
}

#quest>div>p {
    color: blue;
}

h4 {
    margin-left: 60px;
}

#fav {
    width: 90%;
    height: 600px;
    margin: auto;
    /* border: 1px solid red; */
    display: flex;
}

#fav>div {
    width: 23%;
    height: 100%;
    /* border: 1px solid teal; */
    margin: auto;
}

#fav>div>img {
    width: 100%;
}

#fav>div>h5 {
    font-size: 20px;
    font-weight: lighter;
}