*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
}
h1{
    width: 50%;
    margin-top: 60px;
    padding: 20px;
    margin-left: 200px;
    font-size: 60px;
}

button{
    padding: 18px;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 230px ;
    width:10%;
    background-color:rgb(58, 140, 58);
    color: white;
  
}

#one{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    /* border: 5px solid black; */
    margin-bottom: 80px;
  
}
#one1{
    background-image: url(https://a.kickstarter.com/assets/projects/learn/refresh/feature-1-6e68a182e1340ce87d9b3c9f9a25da52935d14be496a4e88085025ae54bb870d.jpg);
    background-position: center;
    position: relative;
    background-size:cover;
    background-repeat:no-repeat;
      height:600px;
      width: 100%;
 }

#one2{
    grid-template-rows: repeat(2, 1fr);
    gap:10px;
    /* border :2px solid red */
}
#one22{
background-image: url(https://a.kickstarter.com/assets/projects/learn/refresh/feature-2-8c80ae939629f8b10087e097c965990ff4b3eae72b90b51fc597c7f794420881.jpg);
background-position: center;
    position: relative;
    background-size:cover;
    background-repeat:no-repeat;
   height:300px;
   width: 100%;
 }

 #one3{
    background-image: url(https://a.kickstarter.com/assets/projects/learn/refresh/feature-3-48fe9583f16524ea8412cbb862901b00af1aaf669fdcf43f466f34af5696fc08.jpg);
    background-position: center;
    position: bottom;
    background-size:cover;
    background-repeat:no-repeat;
    height:300px;
    width: 100%;
    margin-top: 20px;
     
}


#one1>p{
    position: absolute;
    top:87%;
    left:5%; 
    bottom: 10px;
    font-size:14px;
    color:black;
    background-color: #ffffff;
} 

#one22>p{
    position: absolute;
    top:87%;
    left:5%; 
    bottom: 10px;
    font-size:14px;
    color:black;
    background-color: #ffffff;
}

#one3+p{
    position: absolute;
    top:150%;
    left:5%; 
    bottom: 10px;
    font-size:14px;
    color:#ffffff
    /* background-color: #ffffff; */
}



#three{
background-color:#034752;
color: #ffffff;
font-size: 40px;
width: 100%;
height:380px;
border: transparent
}

#three>div{
    border: transparent;
    padding: 60px;
    width:80%;
    margin: auto;
    margin-top: 80px;

    
}
#three>div>p+p{
    font-size: 16px;
    padding: 10px;
    
}



#four{
margin: auto;
  margin-top: 40px;  
/* border: 1px solid blue; */
font-size: 40px;
font-weight: bold;
margin-left: 90px;
}











#five{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 10px;
    /* border: 5px solid red; */
    padding: 20px;
    line-height: 1.5;
    width: 80%;
    margin: auto;
}


#five1{
    /* border: 2px solid green; */
}

#five1>div{
    /* border: 4px solid black; */
margin-top: 100px;

}
#five1>div:last-child h2{
    margin-top: 200px;
    margin-bottom: -1fr;
}




#five2{
    /* border: 2px solid orange; */
    
}
#five2>div{
    /* border:4px solid red; */
  padding: 40px;
}

#six{
    /* border: 2px solid black; */
    width: 90%;
    
}

#six>div{
    /* border: 2px solid red; */
    margin: auto;
    width: 85%;
}
#six>div img{
    width: 100%;
    height: 600px;
    margin-left: 130px;
}

#seven{
    margin-top: 40px;
    margin-bottom: 40px;
   margin-left: 150px;
   background-color: #f7f7f6;
}





#seven1>div{
display: flex;
justify-content: space-between;
line-height: 2;
width: 80%;
/* border: 2px solid red; */
margin: auto;
padding: 40px;
font-size: 18px;
background-color: #f7f7f6;
margin-bottom: 40px;;
}


#seven1>div p{
    margin-left: 200px;
} 


#eight{
    padding: 40px;
}


#eight a{
margin-left: 30px;
text-decoration: none;

}


#nine{
    width: 60%;
    border: 1px solid black;
    margin: auto;
    line-height: 1.5;
    padding: 20px;

}
#nine button{
    padding:10px ;
    background-color: black;
    color: white;
    margin-left: 0;
}
#nine a{
    text-decoration: none;
}

#nine1{
    padding: 10px;
    margin-top: 40px;
    margin-left: 200px;
}
#ten{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:20px; 
    width: 80%;
    margin-left: 200px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
}
#ten img{
    width: 100%;
}


#eleven{
    /* border: 4px solid orange; */
background-color: #ffcba9;
    padding: 20px;
    line-height: 2;
    width: 100%;
}

#eleven h2{
    margin-top: 60px;
    text-align: center;
    font-size: 40px;
}
#eleven p{
    text-align: center;
    padding: 25px;
}

#eleven button{
    display: block;
    margin: auto;
    padding: 10px;
    background-color: black;
    color: white;
}

#twelve{
margin-top: 40px;
padding: 20px;
}
#twelve>div{
margin-left: 50px;
}

#twelve a{
    margin-top: 20px;
    display: block;
    text-decoration: none;
}