*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#container {
    width:400px;
    height:750px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-top:40px;
}

#container .top {
    width:100%;
    height:80px;
    text-align: center;
    padding:33px 0px;
    border-bottom: 1px solid grey;
}

#container .top p {
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color:#3d3d66;
}

#container .top p a{
    text-decoration: none;
}

#container .register-form{
    width:100%;
    margin:0 15px;

}

#container> .register-form input[type=text],
input[type=email],input[type=password]{
    width:90%;
    margin-top:20px;
    padding:10px;
}

input[type=checkbox]{
    margin-top:20px;
    
}

#create-account {
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color:#fff;
    width:90%;
    padding: 10px;
    background-color: #028858;
    cursor:pointer;
    margin-top:20px;

}
.sing-in-with-apple , .continue-with-facebook{
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color:#fff;
    width:90%;
    padding: 10px;
    background-color:black;
    cursor:pointer;
    margin-top:20px;
    border-radius: 5px;
    border:none;

}

.continue-with-facebook {
    background-color: blue !important;
}

.sing-in-with-apple a, .continue-with-facebook a {
    text-decoration: none;
    color:white;
    font-size:20px;
}

.term-and-conditions{
    
    width:100%;
}

.term-and-conditions p{
    margin-top:10px;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size:14px;
    line-height: 18px;
    color:#656969;
}

.term-and-conditions a{
    text-decoration: none;
}

.or{
    
    width:100%;
    margin: auto;
    position: relative;
    font-size: 20px;
    text-align: center;
}

.or::before{
    width:50%;
    height:1px;
    content:"";
    position: absolute;
    background-color: black;
    top:50%;
    left:-2%;
    
}

.or::after{
    width:45%;
    height:1px;
    content:"";
    position: absolute;
    background-color: black;
    top:50%;
    right:3%;
    
}

.paragraph{
    margin-top: 10px;
}

.facebook-icon {
    font-size: 20px;
    margin:0px 2px;
}
.apple-icon {
    font-size:20px;
}

